<div class="loginContainer">
  {{ token['token'] | async }}
  <form (submit)="onSubmit()" [formGroup]="loginForm" class="loginForm">
    <h1>Log In</h1>
    <div class="infoInputContainer">
      <div class="loginInputSection">
        <label for="email">Email</label>
        <input formControlName="email" type="email" name="email" id="email" placeholder="Email" />
      </div>
      <div class="loginInputSection">
        <label for="password">Password</label>
        <input formControlName="password" type="password" name="password" id="password" placeholder="Password" />
      </div>
    </div>
    <input type="submit" value="Log In"/>
  </form>
</div>
