@import "../../util.scss";

.logo {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  h1 {
    font-size: 1.5rem;
    padding-top: 5px;
    margin: 0;
    height: 1.75rem;
  }

  .bar {
    width: 5px;
    height: 20px;
    border-radius: 9px;
    margin-left: 7px;
    margin-top: 2px;
    align-self: flex-start;
    transform: matrix(0.74, 0.72, -0.64, 0.73, 0, 0);
  }

  #blueBar {
    background: $primary-color;
  }

  #grayBar {
    background: $secondary-color;
    margin-left: 6px;
  }
}
